%thead.thead-dark
  %tr
    %th{ scope: 'col'}= Entry.human_attribute_name 'time'
    %th{ scope: 'col'}= Entry.human_attribute_name 'tag'
    %th{ scope: 'col'}= Entry.human_attribute_name 'blood_sugar'
    %th{ scope: 'col'}= Entry.human_attribute_name 'insulin'
    %th{ scope: 'col'}
    %th{ scope: 'col'}
    %th{ scope: 'col'}
