%thead.thead-dark
  %tr
    %th{ scope: 'col'} Time
    %th{ scope: 'col'} Tag
    %th{ scope: 'col'} Blood sugar
    %th{ scope: 'col'} Insulin
    %th{ scope: 'col'}
    %th{ scope: 'col'}
    %th{ scope: 'col'}
