%h1 Log entries

.table-responsive.border.border-dark
  %table.table.table-hover
    = render 'table_head'

    %tbody
      - @data.keys.sort.reverse_each do |date|
        = render partial: 'day', locals: { date: date, entries: @data[date] }
