%h1 Log entries

.table-responsive.border.border-dark
  %table.table.table-hover
    %thead.thead-light
      %tr
        %th{ scope: 'col' } Date
        %th{ scope: 'col' } Number of readings
        %th{ scope: 'col' }
        %th{ scope: 'col' }
        %th{ scope: 'col' }

    %tbody
      - @data.keys.sort.reverse_each do |date|
        = render partial: 'day', locals: { date: date, entries: @data[date] }
