= turbo_frame_tag card_entry_id(@entry.time, @entry) do
  = render CardComponent.new do |card|
    - card.with_header do |header|
      - header.with_title(title: time_tag(@entry.time, format: :time), tag: :h3, subtitle: @entry.tag)

    - card.with_action_group do |action_group|
      - action_group.with_action name: 'Edit', path: edit_entry_path(@entry)
      - action_group.with_secondary_action icon: 'trash-fill', path: entry_path(@entry), method: :delete, confirm_message: 'Are you sure?', button_type: 'danger'
