.d-flex.flex-wrap.justify-content-between.w-100{id: @id}
  - cards.each do |card|
    .col-12{class: (responsive? ? 'col-lg-6' : '')}= card
  - if last_card?
    .order-last.col-12{class: (responsive? ? 'col-lg-6' : '')}= last_card

