.jumbotron.jumbotron-fluid
  .container
    %h1.display-4
      - if user_signed_in?
        Welcome, #{current_user.name}
      - else
        Welcome
    %p.lead This app does cool stuff.
    %hr.my-4
    - if user_signed_in?
      = link_to 'View your log', entries_path, class: 'btn btn-primary btn-lg'
    - else
      %p You need to have an account to use this app.
      = link_to 'Sign up now', new_user_registration_path, class: 'btn btn-primary btn-lg'
      = link_to 'Login', new_user_session_path, class: 'btn btn-secondary btn-lg'
