%footer.container
  %hr
  %nav
    %ul.list-inline.d-flex.justify-content-center
      %li.list-inline-item.mr-4= link_to 'Cookies', cookies_path
      %li.list-inline-item= link_to 'Terms of Service', terms_path
  .container.text-center.text-secondary © 2021 Louis Van Steene
